# Exploring Corona virus Data

In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as p
import datetime
covid_data=pd.ExcelFile(r'C:\Users\faizah\Documents\COVID-19\Dataset\COVID_FINAL_DATA.xlsx')
covid_data.sheet_names

['TimeSeries_KeyIndicators',
 'TimeSeries_KeyIndicators_Detail',
 'TimeSeries_Action_Screen',
 'TimeSeries_Action_Call',
 'TimeSeries_COVID_News',
 'TimeSeries_NIH_Response',
 'TimeSeries_NIH_Risk',
 'TimeSeries_Province_Response',
 'TimeSeries_Helpline_Calls',
 'TimeSeries_Quarantine_Details']

**Cleaning Sheet1**

In [92]:
sheet1=covid_data.parse('TimeSeries_KeyIndicators')  #Opening  first sheet
#print(df1.columns) 
sheet1.head()

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [93]:
sheet1.rename(columns={'Cumulative':'Suspected_cases','Discharged':'Recovered','Still admitted':'Hospital_quarantine','Cumulative  Test positive':'Confirmed','New  (last 24 hrs)':'New_cases','Cumulative  tests performed':'Total_tests_performed','Tests  performed in last 24 hours':'New_tests_performed','Expired':'Dead','Home Quarantine':'Home_quarantine'},inplace=True)
sheet1.head()

,Unnamed: 0,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [94]:
sheet1.loc[sheet1['Unnamed: 0']==5] #query based on assigned indexes but doesn't define uniquely row

,Unnamed: 0,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
9,5,67,0,105,2020-03-12 00:00:00,0,0,NaN,6,Punjab,0,10
17,5,71,0,110,2020-03-13 00:00:00,0,0,NaN,4,Punjab,0,5
25,5,77,0,116,2020-03-14 00:00:00,0,0,NaN,6,Punjab,0,6
33,5,83,0,126,2020-03-15 00:00:00,0,0,NaN,6,Punjab,0,10
41,5,95,1,166,2020-03-16 00:00:00,0,0,NaN,12,Punjab,1,40
50,5,112,1,166,2020-03-17 00:00:00,0,0,NaN,17,Punjab,1,No 0
58,5,129,26,133,2020-03-18 00:00:00,0,0,NaN,17,Punjab,26,0
66,5,158,33,254,2020-03-19 00:00:00,0,0,NaN,29,Punjab,33,0
74,5,182,80,872,20-Mar-2020,0,0,NaN,24,Punjab,80,0
82,5,196,96,894,21-Mar-2020,0,0,NaN,14,Punjab,96,0
90,5,246,152,1361,2020-03-22 00:00:00,0,0,NaN,50,Punjab,152,0
98,5,257,225,1436,2020-03-23 00:00:00,0,0,NaN,11,Punjab,225,0
104,5,226,15,427,2020-03-24 00:00:00,2,0,NaN,28,ICT,13,0
111,5,236,18,459,2020-03-25 00:00:00,2,0,NaN,10,ICT,16,0
118,5,255,25,561,2020-03-26 00:00:00,2,0,NaN,19,ICT,8,0
125,5,712,25,712,27-Mar-2020,2,0,NaN,151,ICT,12,0
132,5,910,39,1056,28-Mar-2020,2,0,NaN,198,ICT,8,0
139,5,1067,43,1213,29-Mar-2020,2,0,30.0,157,ICT,11,0
153,5,1395,58,1469,2020-03-31 00:00:00,3,0,39.0,195,ICT,16,0

In [95]:
sheet1.index

RangeIndex(start=0, stop=363, step=1)

In [96]:
sheet1.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet1.head()

,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
0,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [99]:
sheet1['Date']=pd.to_datetime(sheet1['Date']).dt.strftime('%d-%m-%Y') #change format acc to Pak date
#sheet1['Date']=pd.to_datetime(sheet1['Date'])                      #to date type
sheet1.head()

,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
0,48,2,80,11-03-2020,0,0,NaN,3,ICT,2,8
1,61,0,95,11-03-2020,0,0,NaN,6,Punjab,0,7
2,84,14,171,11-03-2020,1,0,NaN,1,Sindh,13,55
3,20,0,28,11-03-2020,0,0,NaN,0,KP,0,2
4,3,0,0,11-03-2020,0,0,NaN,0,KPTD,0,0

In [9]:
print(sheet1.info())
print(sheet1.isnull().sum())                                     #finding NA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Suspected_cases          363 non-null int64
Confirmed                363 non-null int64
Total_tests_performed    363 non-null int64
Date                     363 non-null datetime64[ns]
Recovered                363 non-null int64
Dead                     363 non-null int64
Home_quarantine          224 non-null float64
New_cases                363 non-null int64
Region                   363 non-null object
Hospital_quarantine      363 non-null int64
New_tests_performed      363 non-null object
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 31.3+ KB
None
Suspected_cases            0
Confirmed                  0
Total_tests_performed      0
Date                       0
Recovered                  0
Dead                       0
Home_quarantine          139
New_cases                  0
Region                     0
Hospital_quarantine        0
New_tests_performed        0
dtype: int64

In [10]:
sheet1[sheet1['New_tests_performed'].isin(['.','?','na','NA','N/A',np.nan,'No 0'])]

,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
50,112,1,166,2020-03-17,0,0,NaN,17,Punjab,1,No 0

In [11]:
sheet1.isin(['.','?','na','NA','N/A',np.nan,'No 0'])

,Suspected_cases,Confirmed,Total_tests_performed,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests_performed
0,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
358,False,False,False,False,False,False,False,False,False,False,False
359,False,False,False,False,False,False,False,False,False,False,False
360,False,False,False,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False,False,False,False

In [12]:
sheet1['New_tests_performed'].replace({'No 0':'0'},inplace=True)  #replacing No 0 value in New_tests with 0 as its like null but 0 for this column either count of test performed or not
sheet1[sheet1['New_tests_performed'].isin(['.','?','na','NA','N/A',np.nan,'No 0'])]

Empty DataFrame
Columns: [Suspected_cases, Confirmed, Total_tests_performed, Date, Recovered, Dead, Home_quarantine, New_cases, Region, Hospital_quarantine, New_tests_performed]
Index: []

In [13]:
sheet1['New_tests_performed']=sheet1['New_tests_performed'].apply(np.int64)       #change type of New_testsas its ineteger
sheet1['Home_quarantine'].fillna(0,inplace=True)                #filling with 0 becuase at that time no homequarantine    
sheet1['Home_quarantine']=sheet1['Home_quarantine'].apply(np.int64)          #it can't be float
print(sheet1.isnull().sum())
print(sheet1.info())

Suspected_cases          0
Confirmed                0
Total_tests_performed    0
Date                     0
Recovered                0
Dead                     0
Home_quarantine          0
New_cases                0
Region                   0
Hospital_quarantine      0
New_tests_performed      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Suspected_cases          363 non-null int64
Confirmed                363 non-null int64
Total_tests_performed    363 non-null int64
Date                     363 non-null datetime64[ns]
Recovered                363 non-null int64
Dead                     363 non-null int64
Home_quarantine          363 non-null int64
New_cases                363 non-null int64
Region                   363 non-null object
Hospital_quarantine      363 non-null int64
New_tests_performed      363 non-null int64
dtypes: datetime64[ns](1), int64(9), object(1)
memory usage: 31.3+ KB
None

In [14]:
sheet1.duplicated().sum()

0

In [15]:
sheet1.describe()

,Suspected_cases,Confirmed,Total_tests_performed,Recovered,Dead,Home_quarantine,New_cases,Hospital_quarantine,New_tests_performed
count,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000
mean,5474.236915,609.752066,6922.528926,145.049587,11.358127,295.730028,369.820937,185.914601,344.969697
std,9646.580573,1144.624812,14195.054632,354.547315,23.058743,1227.649411,655.021853,326.760884,688.249354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,164.500000,18.000000,318.500000,0.000000,0.000000,0.000000,11.000000,10.000000,0.000000
50%,1494.000000,169.000000,1563.000000,5.000000,1.000000,0.000000,95.000000,30.000000,37.000000
75%,5503.500000,539.500000,5397.000000,138.500000,8.500000,182.000000,393.500000,227.500000,287.000000
max,48061.000000,5827.000000,77619.000000,2577.000000,114.000000,21452.000000,4112.000000,1719.000000,4112.000000

In [16]:
pd.crosstab(index=[sheet1['Date'],sheet1['Confirmed']],columns=sheet1['Region'])

Region                AJK  Balochistan  GB  ICT  KP  KPTD  Mobile Lab  Punjab  \
Date       Confirmed
2020-01-04 6            1            0   0    0   0     0           0       0
           54           0            0   0    1   0     0           0       0
           158          0            1   0    0   0     0           0       0
           184          0            0   1    0   0     0           0       0
           253          0            0   0    0   1     0           0       0
...                   ...          ...  ..  ...  ..   ...         ...     ...
2020-12-04 216          0            0   1    0   0     0           0       0
           228          0            1   0    0   0     0           0       0
           697          0            0   0    0   1     0           0       0
           1318         0            0   0    0   0     0           0       0
           2425         0            0   0    0   0     0           0       1

Region                Sindh
Date       Confirmed
2020-01-04 6              0
           54             0
           158            0
           184            0
           253            0
...                     ...
2020-12-04 216            0
           228            0
           697            0
           1318           1
           2425           0

[342 rows x 9 columns]

**Cleaning Sheet 3**

In [17]:
sheet3=covid_data.parse('TimeSeries_Action_Screen')  #Opening  third sheet
sheet3.head()

,Date,Cumulative travelers Screened,Suspected at Points of Entry,Travelers Screened at Points ofEntry in last 24 hours
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676

In [18]:
sheet3.shape

(24, 4)

In [19]:
sheet3.columns=['Date','Total_travelers_screened','Suspected_travelers','New_travelers_screened']

In [20]:
sheet3.head()

,Date,Total_travelers_screened,Suspected_travelers,New_travelers_screened
0,11-Mar-2020,873288,26,21102
1,12-Mar-2020,894256,29,20968
2,13-Mar-2020,913542,33,19286
3,14-Mar-2020,933970,43,20428
4,15-Mar-2020,954646,59,20676

In [21]:
sheet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                        24 non-null object
Total_travelers_screened    24 non-null int64
Suspected_travelers         24 non-null int64
New_travelers_screened      24 non-null int64
dtypes: int64(3), object(1)
memory usage: 896.0+ bytes

In [22]:
sheet3['Date']=pd.to_datetime(sheet3['Date'])
sheet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Date                        24 non-null datetime64[ns]
Total_travelers_screened    24 non-null int64
Suspected_travelers         24 non-null int64
New_travelers_screened      24 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 896.0 bytes

In [23]:
sheet3.isnull().sum()

Date                        0
Total_travelers_screened    0
Suspected_travelers         0
New_travelers_screened      0
dtype: int64

In [24]:
sheet3.duplicated().sum()

0

In [25]:
sheet3.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                        0
Total_travelers_screened    0
Suspected_travelers         0
New_travelers_screened      0
dtype: int64

**Cleaning Sheet 4**

In [26]:
sheet4=covid_data.parse('TimeSeries_Action_Call')  #Opening  first sheet
sheet4.head()

,Returnees,Advised Self-Quarantine,Cumulative no offirst-time calls,Cumulativefollow-up calls,Date,First-time calls inpast 24 hrs,Follow-up calls inpast 24 hrs
0,Returnees from Iran,0,9459,2553,11-Mar-2020,0,353
1,Returnees from China,11,5342,7746,11-Mar-2020,17,400
2,Returnees from Iran,14,9475,3221,12-Mar-2020,16,668
3,Returnees from China,7,5352,7855,12-Mar-2020,10,109
4,Returnees from Iran,0,9475,3853,13-Mar-2020,0,632

In [27]:
sheet4.shape

(40, 7)

In [28]:
sheet4.isnull().sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

In [29]:
sheet4.duplicated().sum()

0

In [30]:
sheet4.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Returnees                           0
Advised Self-Quarantine             0
Cumulative no offirst-time calls    0
Cumulativefollow-up calls           0
Date                                0
First-time calls inpast 24 hrs      0
Follow-up calls inpast 24 hrs       0
dtype: int64

**Cleaning Sheet 5**

In [39]:
sheet5=covid_data.parse('TimeSeries_COVID_News')  #Opening  first sheet
sheet5.head()

,Unnamed: 0,Date,News,Agg News
0,0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 â€¢",Updates: Pakistan: \n Three new cases have bee...

In [40]:
sheet5.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet5.head()

,Date,News,Agg News
0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 â€¢",Updates: Pakistan: \n Three new cases have bee...

In [41]:
sheet5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
Date        146 non-null object
News        146 non-null object
Agg News    146 non-null object
dtypes: object(3)
memory usage: 3.5+ KB

In [48]:
sheet5['Date']=pd.to_datetime(sheet5['Date'])
sheet5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
Date        146 non-null datetime64[ns]
News        146 non-null object
Agg News    146 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 3.5+ KB

In [43]:
sheet5.isnull().sum()

Date        0
News        0
Agg News    0
dtype: int64

In [44]:
print(sheet5.duplicated().sum())
sheet5.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

0

Date        0
News        0
Agg News    0
dtype: int64

**Cleaning Sheet 6**

In [45]:
sheet6=covid_data.parse('TimeSeries_NIH_Response')  #Opening  first sheet
sheet6.head()

,Unnamed: 0,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,0,12-Mar-2020,BSL-3 mobile lab is ready for testing. â€¢,BSL-3 mobile lab is ready for testing. â€¢ \n I...

In [46]:
sheet6.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet6.head()

,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,12-Mar-2020,BSL-3 mobile lab is ready for testing. â€¢,BSL-3 mobile lab is ready for testing. â€¢ \n I...

In [47]:
sheet6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Date                                 65 non-null object
NIH Preparedness and Response        65 non-null object
Agg NIH Preparedness and Response    65 non-null object
dtypes: object(3)
memory usage: 1.6+ KB

In [49]:
sheet6['Date']=pd.to_datetime(sheet6['Date'])
sheet6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Date                                 65 non-null datetime64[ns]
NIH Preparedness and Response        65 non-null object
Agg NIH Preparedness and Response    65 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.6+ KB

In [50]:
print(sheet6.isnull().sum())

Date                                 0
NIH Preparedness and Response        0
Agg NIH Preparedness and Response    0
dtype: int64

In [51]:
sheet6.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                                 0
NIH Preparedness and Response        0
Agg NIH Preparedness and Response    0
dtype: int64

In [61]:
sheet6.duplicated().sum()

0

**Cleaning Sheet 7**

In [62]:
sheet7=covid_data.parse('TimeSeries_NIH_Risk')  #Opening  first sheet
sheet7.head()

   Unnamed: 0         Date Risk Assessment NIH
0           0  11-Mar-2020           MODERATE.
1           0  12-Mar-2020           MODERATE.
2           0  13-Mar-2020           MODERATE.
3           0  14-Mar-2020           MODERATE.
4           0  15-Mar-2020            Moderate

In [67]:
sheet7.shape

(24, 3)

In [66]:
sheet7['Unnamed: 0'].isin([0]).sum()

24

In [68]:
sheet7.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet7.head()

          Date Risk Assessment NIH
0  11-Mar-2020           MODERATE.
1  12-Mar-2020           MODERATE.
2  13-Mar-2020           MODERATE.
3  14-Mar-2020           MODERATE.
4  15-Mar-2020            Moderate

In [69]:
sheet7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Date                   24 non-null object
Risk Assessment NIH    24 non-null object
dtypes: object(2)
memory usage: 512.0+ bytes

In [70]:
sheet7['Date']=pd.to_datetime(sheet7['Date'])
sheet7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Date                   24 non-null datetime64[ns]
Risk Assessment NIH    24 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 512.0+ bytes

In [73]:
print(sheet7.isnull().sum())
sheet7.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Date                   0
Risk Assessment NIH    0
dtype: int64

Date                   0
Risk Assessment NIH    0
dtype: int64

In [74]:
sheet7.duplicated().sum()

0

**Cleaninng Sheet 8**

In [75]:
sheet8=covid_data.parse('TimeSeries_Province_Response')  #Opening  first sheet
sheet8.head()

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
0,0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...

In [76]:
sheet8.shape

(166, 5)

In [78]:
sheet8[sheet8['Unnamed: 0']==4]

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...
12,4,KP & TD,01 alert generated (self-referral) in Police a...,12-Mar-2020,01 alert generated (self-referral) in Police a...
20,4,KP & TD,"A total of 75 personnel including doctors, par...",13-Mar-2020,"A total of 75 personnel including doctors, par..."
29,4,AJK,Chest Diseases General Hospital (CDGH) Hill Ch...,14-Mar-2020,Chest Diseases General Hospital (CDGH) Hill Ch...
36,4,Sindh,Quarantine facilities established and operatio...,15-Mar-2020,Quarantine facilities established and operatio...
46,4,KP & TD,Four new suspected cases reported from Police ...,16-Mar-2020,Four new suspected cases reported from Police ...
54,4,Punjab,"PDSRU is in 24/7 coordination with NIH, Islama...",17-Mar-2020,"PDSRU is in 24/7 coordination with NIH, Islama..."
62,4,KP & TD,Quarantine facility for 171 passengers establi...,18-Mar-2020,Quarantine facility for 171 passengers establi...
70,4,AJK,Contact tracing of confirmed case being carrie...,19-Mar-2020,Contact tracing of confirmed case being carrie...
76,4,KP & TD,Contact tracing of all suspected and confirmed...,20-Mar-2020,Contact tracing of all suspected and confirmed...
83,4,KP & TD,30 people who have an international travel his...,21-Mar-2020,30 people who have an international travel his...
90,4,KP & TD,Incident Command and Management Centre regardi...,22-Mar-2020,Incident Command and Management Centre regardi...
97,4,AJK,13 new pilgrims have been received from Taftan...,23-Mar-2020,13 new pilgrims have been received from Taftan...
103,4,AJK,VTM kits made available at all designated hosp...,24-Mar-2020,VTM kits made available at all designated hosp...
109,4,GB,Gilgit and Baltistan announced 2 Red Zones. â€¢,25-Mar-2020,Gilgit and Baltistan announced 2 Red Zones. â€¢
114,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,26-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
120,4,AJK,SOPs on COVID-19 prepared by Dept of AJK have ...,27-Mar-2020,SOPs on COVID-19 prepared by Dept of AJK have ...
126,4,AJK,A new field isolation hospital for COVID-19 wi...,28-Mar-2020,A new field isolation hospital for COVID-19 wi...
132,4,AJK,SOPs on COVID-19 prepared by Department of hea...,29-Mar-2020,SOPs on COVID-19 prepared by Department of hea...
138,4,AJK,A new field isolation hospital for COVID-19 pa...,30-Mar-2020,A new field isolation hospital for COVID-19 pa...
144,4,KP,Equipment and supplies including oxygen concen...,2020-03-31 00:00:00,Equipment and supplies including oxygen concen...
151,4,AJK,Contact tracing of confirmed cases done. 50 sa...,2020-04-01 00:00:00,Contact tracing of confirmed cases done. 50 sa...
157,4,AJK,MNCH program released Rs. 2.25 million to all ...,2020-04-02 00:00:00,MNCH program released Rs. 2.25 million to all ...
163,4,KP,Data transcription on to the IPMS software hos...,2020-04-03 00:00:00,Data transcription on to the IPMS software hos...

In [79]:
sheet8.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet8.head()

,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...

In [80]:
sheet8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 4 columns):
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null object
Agg Provinces Preparedness and Response    166 non-null object
dtypes: object(4)
memory usage: 5.3+ KB

In [81]:
sheet8['Date']=pd.to_datetime(sheet8['Date'])
sheet8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 4 columns):
region                                     166 non-null object
Provinces Preparedness and Response        166 non-null object
Date                                       166 non-null datetime64[ns]
Agg Provinces Preparedness and Response    166 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.3+ KB

In [82]:
sheet8.isnull().sum()

region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [83]:
sheet8.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [84]:
sheet8.duplicated().sum()

0

**Cleaning Sheet 9**

In [85]:
sheet9=covid_data.parse('TimeSeries_Helpline_Calls')  #Opening  first sheet
sheet9.head()

   Unnamed: 0  Cumulative Calls       Date  New Calls
0           0             12481 2020-03-11        547
1           0             13167 2020-03-12        686
2           0             13896 2020-03-13        729
3           0             15340 2020-03-14       1444
4           0             19131 2020-03-15       3791

In [86]:
sheet9.shape

(24, 4)

In [88]:
sheet9['Unnamed: 0'].isin([0]).sum()

24

In [89]:
sheet9.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet9.head()

   Cumulative Calls       Date  New Calls
0             12481 2020-03-11        547
1             13167 2020-03-12        686
2             13896 2020-03-13        729
3             15340 2020-03-14       1444
4             19131 2020-03-15       3791

In [90]:
sheet9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
Cumulative Calls    24 non-null int64
Date                24 non-null datetime64[ns]
New Calls           24 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 704.0 bytes

In [102]:
sheet9['Date']=pd.to_datetime(sheet9['Date']).dt.strftime('%d-%m-%Y') #change format acc to Pak date
sheet9.head()

   Cumulative Calls        Date  New Calls
0             12481  03-11-2020        547
1             13167  03-12-2020        686
2             13896  13-03-2020        729
3             15340  14-03-2020       1444
4             19131  15-03-2020       3791

In [106]:
print(sheet9.isnull().sum())
sheet9.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Cumulative Calls    0
Date                0
New Calls           0
dtype: int64

Cumulative Calls    0
Date                0
New Calls           0
dtype: int64

In [107]:
sheet9.duplicated().sum()

0

**Cleaning Sheet 10**

In [108]:
sheet10=covid_data.parse('TimeSeries_Quarantine_Details')  #Opening  first sheet
sheet10.head()

,Unnamed: 0,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,0,ICT,1,0,24,2020-04-01
1,1,Punjab,4,0,2956,2020-04-01
2,2,Sindh,5,0,1388,2020-04-01
3,3,KP,92,181,3260,2020-04-01
4,4,Balochistan,9,0,366,2020-04-01

In [109]:
sheet10.shape

(21, 6)

In [110]:
sheet10.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [111]:
sheet10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
Regions                             21 non-null object
Quarantine facilities (n)           21 non-null int64
No. of arrivals in last 24 hrs      21 non-null int64
Cumulative no of persons present    21 non-null int64
Date                                21 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 968.0+ bytes

In [112]:
sheet10['Date']=pd.to_datetime(sheet10['Date']).dt.strftime('%d-%m-%Y') #change format acc to Pak date
sheet10.head()

,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,ICT,1,0,24,01-04-2020
1,Punjab,4,0,2956,01-04-2020
2,Sindh,5,0,1388,01-04-2020
3,KP,92,181,3260,01-04-2020
4,Balochistan,9,0,366,01-04-2020

In [116]:
print(sheet10.isnull().any())

Regions                             False
Quarantine facilities (n)           False
No. of arrivals in last 24 hrs      False
Cumulative no of persons present    False
Date                                False
dtype: bool

In [114]:
sheet10.isin(['.','?','na','NA','N/A',np.nan,'No 0']).sum()

Regions                             0
Quarantine facilities (n)           0
No. of arrivals in last 24 hrs      0
Cumulative no of persons present    0
Date                                0
dtype: int64

In [115]:
sheet10.duplicated().sum()

0

In [117]:
sheet10.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20], dtype=int64)