# Exploring Corona virus Data

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as p
import datetime
covid_data=pd.ExcelFile(r'C:\Users\faizah\Documents\COVID-19\Dataset\COVID_FINAL_DATA.xlsx')
covid_data.sheet_names

['TimeSeries_KeyIndicators',
 'TimeSeries_KeyIndicators_Detail',
 'TimeSeries_Action_Screen',
 'TimeSeries_Action_Call',
 'TimeSeries_COVID_News',
 'TimeSeries_NIH_Response',
 'TimeSeries_NIH_Risk',
 'TimeSeries_Province_Response',
 'TimeSeries_Helpline_Calls',
 'TimeSeries_Quarantine_Details']

**Cleaning Sheet1 **

In [ ]:
sheet1=covid_data.parse('TimeSeries_KeyIndicators')  #Opening  first sheet
#print(df1.columns) 
sheet1.head()

In [55]:
sheet1.rename(columns={'Cumulative':'Suspected_cases','Discharged':'Recovered','Still admitted':'Hospital_quarantine','Cumulative  Test positive':'Confirmed','New  (last 24 hrs)':'New_cases','Cumulative  tests performed':'Total_tests','Tests  performed in last 24 hours':'New_tests','Expired':'Dead','Home Quarantine':'Home_quarantine'},inplace=True)
sheet1.head()

,Unnamed: 0,Suspected_cases,Confirmed,Total_tests,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [56]:
sheet1.loc[sheet1['Unnamed: 0']==5] #query based on assigned indexes but doesn't define uniquely row

,Unnamed: 0,Suspected_cases,Confirmed,Total_tests,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
9,5,67,0,105,2020-03-12 00:00:00,0,0,NaN,6,Punjab,0,10
17,5,71,0,110,2020-03-13 00:00:00,0,0,NaN,4,Punjab,0,5
25,5,77,0,116,2020-03-14 00:00:00,0,0,NaN,6,Punjab,0,6
33,5,83,0,126,2020-03-15 00:00:00,0,0,NaN,6,Punjab,0,10
41,5,95,1,166,2020-03-16 00:00:00,0,0,NaN,12,Punjab,1,40
50,5,112,1,166,2020-03-17 00:00:00,0,0,NaN,17,Punjab,1,No 0
58,5,129,26,133,2020-03-18 00:00:00,0,0,NaN,17,Punjab,26,0
66,5,158,33,254,2020-03-19 00:00:00,0,0,NaN,29,Punjab,33,0
74,5,182,80,872,20-Mar-2020,0,0,NaN,24,Punjab,80,0
82,5,196,96,894,21-Mar-2020,0,0,NaN,14,Punjab,96,0
90,5,246,152,1361,2020-03-22 00:00:00,0,0,NaN,50,Punjab,152,0
98,5,257,225,1436,2020-03-23 00:00:00,0,0,NaN,11,Punjab,225,0
104,5,226,15,427,2020-03-24 00:00:00,2,0,NaN,28,ICT,13,0
111,5,236,18,459,2020-03-25 00:00:00,2,0,NaN,10,ICT,16,0
118,5,255,25,561,2020-03-26 00:00:00,2,0,NaN,19,ICT,8,0
125,5,712,25,712,27-Mar-2020,2,0,NaN,151,ICT,12,0
132,5,910,39,1056,28-Mar-2020,2,0,NaN,198,ICT,8,0
139,5,1067,43,1213,29-Mar-2020,2,0,30.0,157,ICT,11,0
153,5,1395,58,1469,2020-03-31 00:00:00,3,0,39.0,195,ICT,16,0

In [57]:
sheet1.index

RangeIndex(start=0, stop=363, step=1)

In [58]:
sheet1.drop('Unnamed: 0',axis=1,inplace=True)               #droping unnamed column keeping default indexing
sheet1.head()

,Suspected_cases,Confirmed,Total_tests,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests
0,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [88]:
sheet1['Date']=pd.to_datetime(sheet1['Date']).dt.strftime('%d-%m-%Y') #change format acc to Pak date
sheet1['Date']=pd.to_datetime(sheet1['Date'])                      #to date type
sheet1['Date']

0     2020-11-03
1     2020-11-03
2     2020-11-03
3     2020-11-03
4     2020-11-03
         ...
358   2020-04-29
359   2020-04-29
360   2020-04-29
361   2020-04-29
362   2020-04-29
Name: Date, Length: 363, dtype: datetime64[ns]

In [90]:
print(sheet1.info())
print(sheet1.isnull().sum())                                     #finding NA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Suspected_cases        363 non-null int64
Confirmed              363 non-null int64
Total_tests            363 non-null int64
Date                   363 non-null datetime64[ns]
Recovered              363 non-null int64
Dead                   363 non-null int64
Home_quarantine        363 non-null int64
New_cases              363 non-null int64
Region                 363 non-null object
Hospital_quarantine    363 non-null int64
New_tests              363 non-null int64
dtypes: datetime64[ns](1), int64(9), object(1)
memory usage: 31.3+ KB
None
Suspected_cases        0
Confirmed              0
Total_tests            0
Date                   0
Recovered              0
Dead                   0
Home_quarantine        0
New_cases              0
Region                 0
Hospital_quarantine    0
New_tests              0
dtype: int64

In [78]:
sheet1[sheet1['New_tests'].isin(['.','?','na','NA','N/A',np.nan,'No 0'])]

,Suspected_cases,Confirmed,Total_tests,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests
50,112,1,166,17-03-2020,0,0,NaN,17,Punjab,1,No 0

In [80]:
sheet1.isin(['.','?','na','NA','N/A',np.nan,'No 0'])

,Suspected_cases,Confirmed,Total_tests,Date,Recovered,Dead,Home_quarantine,New_cases,Region,Hospital_quarantine,New_tests
0,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
358,False,False,False,False,False,False,False,False,False,False,False
359,False,False,False,False,False,False,False,False,False,False,False
360,False,False,False,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False,False,False,False

In [82]:
sheet1['New_tests'].replace({'No 0':'0'},inplace=True)  #replacing No 0 value in New_tests with 0 as its like null but 0 for this column either count of test performed or not
sheet1[sheet1['New_tests'].isin(['.','?','na','NA','N/A',np.nan,'No 0'])]

Empty DataFrame
Columns: [Suspected_cases, Confirmed, Total_tests, Date, Recovered, Dead, Home_quarantine, New_cases, Region, Hospital_quarantine, New_tests]
Index: []

In [91]:
sheet1['New_tests']=sheet1['New_tests'].apply(np.int64)       #change type of New_testsas its ineteger
sheet1['Home_quarantine'].fillna(0,inplace=True)                #filling with 0 becuase at that time no homequarantine    
sheet1['Home_quarantine']=sheet1['Home_quarantine'].apply(np.int64)          #it can't be float
print(sheet1.isnull().sum())
print(sheet1.info())

Suspected_cases        0
Confirmed              0
Total_tests            0
Date                   0
Recovered              0
Dead                   0
Home_quarantine        0
New_cases              0
Region                 0
Hospital_quarantine    0
New_tests              0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 11 columns):
Suspected_cases        363 non-null int64
Confirmed              363 non-null int64
Total_tests            363 non-null int64
Date                   363 non-null datetime64[ns]
Recovered              363 non-null int64
Dead                   363 non-null int64
Home_quarantine        363 non-null int64
New_cases              363 non-null int64
Region                 363 non-null object
Hospital_quarantine    363 non-null int64
New_tests              363 non-null int64
dtypes: datetime64[ns](1), int64(9), object(1)
memory usage: 31.3+ KB
None

In [92]:
sheet1.duplicated().sum()

0

In [89]:
sheet1.describe()

,Suspected_cases,Confirmed,Total_tests,Recovered,Dead,Home_quarantine,New_cases,Hospital_quarantine,New_tests
count,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000
mean,5474.236915,609.752066,6922.528926,145.049587,11.358127,295.730028,369.820937,185.914601,344.969697
std,9646.580573,1144.624812,14195.054632,354.547315,23.058743,1227.649411,655.021853,326.760884,688.249354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,164.500000,18.000000,318.500000,0.000000,0.000000,0.000000,11.000000,10.000000,0.000000
50%,1494.000000,169.000000,1563.000000,5.000000,1.000000,0.000000,95.000000,30.000000,37.000000
75%,5503.500000,539.500000,5397.000000,138.500000,8.500000,182.000000,393.500000,227.500000,287.000000
max,48061.000000,5827.000000,77619.000000,2577.000000,114.000000,21452.000000,4112.000000,1719.000000,4112.000000