In [2]:
import pandas as pd
import matplotlib.pyplot as p
import datetime
df=pd.ExcelFile(r'C:\Users\faizah\Documents\COVID-19\Dataset\COVID_FINAL_DATA.xlsx')
df.sheet_names

['TimeSeries_KeyIndicators',
 'TimeSeries_KeyIndicators_Detail',
 'TimeSeries_Action_Screen',
 'TimeSeries_Action_Call',
 'TimeSeries_COVID_News',
 'TimeSeries_NIH_Response',
 'TimeSeries_NIH_Risk',
 'TimeSeries_Province_Response',
 'TimeSeries_Helpline_Calls',
 'TimeSeries_Quarantine_Details']

In [42]:
sheet1=df.parse('TimeSeries_KeyIndicators')  #Opening  first sheet
#print(df1.columns) 
sheet1.head()

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [43]:
sheet1.rename(columns={'Cumulative':'Suspected_Cases','Discharged':'Recovered','Still admitted':'Hospital_Quarantine','Cumulative  Test positive':'Confirmed','New  (last 24 hrs)':'New_Cases','Cumulative  tests performed':'Total_Tests','Tests  performed in last 24 hours':'New_Performedtests','Expired':'Dead','Home Quarantine':'Home_Quarantine'},inplace=True)
sheet1.head()

,Unnamed: 0,Suspected_Cases,Confirmed,Total_Tests,Date,Recovered,Dead,Home_Quarantine,New_Cases,Region,Hospital_Quarantine,New_Performedtests
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [44]:
sheet1.drop('Unnamed: 0',axis=1,inplace=True)
sheet1.head()

,Suspected_Cases,Confirmed,Total_Tests,Date,Recovered,Dead,Home_Quarantine,New_Cases,Region,Hospital_Quarantine,New_Performedtests
0,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [54]:
sheet1['Date']=pd.to_datetime(sheet1['Date']).dt.strftime('%d-%m-%Y')
sheet1['Date']

0      11-03-2020
1      11-03-2020
2      11-03-2020
3      11-03-2020
4      11-03-2020
          ...
358    29-04-2020
359    29-04-2020
360    29-04-2020
361    29-04-2020
362    29-04-2020
Name: Date, Length: 363, dtype: object